/* Стили для панели навигации (сайдбара) */
aside {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 10%;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 2%;
    z-index: 1;
    font-size: large;
}

.navbar {
    color: darkgray;
    padding-left: 15%;
}

    .navbar p {
        color: darkgray;
        padding-left: 15%;
    }

        .navbar p:hover {
            color: aliceblue;
        }

/* Основные стили для body */
body {
    margin: 0;
    padding: 0 0 100px 11%;
    background-color: linen;
    font-family: sans-serif;
    box-sizing: border-box;
}

/* Заголовки и блоки с видео */
header {
    color: black;
    padding-left: 1%;
    padding-top: 1.2%;
}

.video-container {
    display: inline-block;
    padding-left: 1%;
    padding-top: 1%;
}

/* Стили для навигационного меню */
nav {
    margin: 20px 0;
    padding-left: 11%;
}

h2 {
    padding-left: 11%;
}

/* Стили для списка */
ul {
    padding-left: 13%;
    list-style-type: square;
}

a[href="#Food"] {
    background: orange;
    color: white;
    padding: 4px 8px;
    text-decoration: none;
    border-radius: 5px;
}

a[href*="ouse"] {
    background: green;
    color: white;
    padding: 4px 8px;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 5px;
}

ul:hover {
    background: orange;
}

a:hover {
    background: green;
}

li:nth-child(3n+1) {
    background: purple;
}

.food {
    color: orange;
}

.household {
    color: green;
}

.vet {
    color: lightblue;
}

/* Стили для футера */
footer {
    position: fixed;
    bottom: 0;
    left: 11%;
    width: calc(100% - 11%);
    background-color: linen;
    font-size: medium;
    color: dimgrey;
    line-height: 1.1;
    padding: 10px 15px;
    border-top: 1px solid #ccc;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
}

/* Стили для отзыва */
.review-container, .review-button {
    display: inline-block;
    margin-top: 0.5em;
    padding-left: 1%;
    padding-top: 1%;
}

/* Стили для текста отзыва */
.review-text {
    display: block;
    margin-top: 0.5em;
    padding-left: 1%;
    padding-top: 1%;
}

/* Стили для кнопки отзыва */
button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    button:hover {
        background-color: #45a049;
    }
