<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>LifeSpot - О проекте</title>
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
    <script src="../Static/JS/about.js" defer></script> <!-- Подключаем JS для этой страницы -->
</head>

<body>

    <!-- SIDEBAR -->
    <aside id="sidebar">
        <div class="navbar">
            <a href="/"><p>Все трансляции</p></a>
            <a href="/about"><p>О проекте</p></a>
        </div>
    </aside>

    <header id="header-index">
        <h1>LifeSpot - о проекте</h1>
        <p>На сайте собраны прямые трансляции с улиц разных городов мира.</p>
        <p>Все трансляции находятся в открытых источниках, в данный момент — youtube.com</p>
        <p>Отзыв о работе сайта можно оставить здесь</p>
    </header>

    <div class="reviews">
        <div class="review-button">
            <button onclick="getReview()">Оставить отзыв</button> <!-- Кнопка для отзыва -->
        </div>
    </div>

    <footer>
        <p>Контакты: info@lifespot.ru | Telegram: @lifespot</p>
        <p>&copy; 2025 LifeSpot</p>
    </footer>

</body>

</html>